				<!-- Additional Info -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <div class="index align-left">

                            <!-- How to find us -->
                            <section>
                                <header id="info">
                                    <h2>How to find us</h2>
                                </header>
                                <div class="content">

                                    <p>
                                        Webster Scout Hall </br>
                                        55 Station Road </br>
                                        Broxburn </br>
                                        West Lothian </br>
                                        EH52 5QU  </br>
                                        </br>
                                        <a href="https://w3w.co/unimpeded.puzzles.hints" target="_blank">///unimpeded.puzzles.hints</a>
                                    </p>

                                </div>
                            </section>

                            <!-- How to join us -->
                            <section>
                                <header>
                                    <h2>How to join us</h2>
                                </header>
                                <div class="content">

                                    <p>We operate a waiting list for all our sections, but priority is given to 
                                    siblings of existing members and the children of volunteers. The best way to 
                                    guarantee a spot is to volunteer - that's how many of our leaders first got 
                                    involved!</p>

                                    <ul class="actions">
                                        <li><a href="https://www.onlinescoutmanager.co.uk/waiting-list/6th-west-lothian-broxburn-and-uphall-waiting-list/44477a21-900a-40af-851f-01da57b267f5/apply" target="_blank" class="button primary">Join the Waitlist</a></li>
                                    </ul>

                                </div>
                            </section>

                            <!-- Volunteering -->
                            <section>
                                <header>
                                    <h2>Volunteering</h2>
                                </header>
                                <div class="content">

                                    <p>Our Scout Group is run entirely by volunteers. This includes the section 
                                    leaders that plan and run our sessions on a weekly basis, but also the Trustees 
                                    and Fundraisers who work behind the scenes, ensuring that we operate in the way
                                    we're supposed to, and to ensure we have the financial backing to continue
                                    to provide opportunities for young people that are affordable for
                                    all families.
                                    </br></br>
                                    Volunteering can be a brilliant way to boost your mental wellbeing. It’s a
                                    great feeling knowing you’re helping young people get skills for life, and you
                                    might even learn a bit about yourself along the way!
                                    </br></br>
                                    If you can only occasionally help, that’s OK. Whether you’d like to be an
                                    activity planner, tea-maker or craft creator, we appreciate whatever time you
                                    can spare. Whatever your background, identity or ability, there’s a volunteer 
                                    spot with your name on it!</p>

                                    <ul class="actions">
                                        <li><a href="mailto:gsl@6thwestlothian.onmicrosoft.com?subject=Volunteering%20Enquiry&body=Hi%20there,%20I%27d%20like%20to%20find%20out%20more%20about%20volunteering..." class="button primary">Volunteer</a></li>
                                    </ul>

                                </div>
                            </section>
                        </div>
                    </div>
                </section>