<!-- Spotlight -->
<section class="spotlight {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">

        <!-- Logo as title -->
        {{ with .logo }} <div class="section-logo">
            <img src="{{ . }}" alt="Section Logo">
        </div>
        {{ else }}
            <!-- Fall back to text title if no logo is provided -->
            {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ end }}

        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button">{{ .label }}</a></li>
        </ul>{{ end }}
    </div>
    {{ with .image }}<div class="image">
        <img src="{{ . }}" alt="" />
    </div>{{ end }}
</section>